@charset "utf-8";

// Bulma overrides
$family-sans-serif: 'GraphikRegular';
$primary: #5f67f3;
$body-background-color: #f2f2f2;

@import "~bulma/bulma.sass";

@font-face {
    font-family: 'GraphikRegular';
    src: url('../../static/fonts/Graphik-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GraphikBold';
    src: url('../../static/fonts/Graphik-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'GraphikThin';
    src: url('../../static/fonts/Graphik-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'CaslonGraphique';
    src: url('../../static/fonts/CaslonGraphique.ttf') format('truetype');
}

$family-display: 'CaslonGraphique';
$family-heading: 'GraphikBold';
$family-body: 'GraphikRegular';

h1 {
    font-family: $family-display;
    font-size: 36px;
}

h2 {
    font-family: $family-display;
    font-size: 24px;
}

h3,
h4 {
    font-family: $family-heading;
}

h5,
h6 {
    font-family: $family-heading;
}

b {
    font-family: $family-body;
}