html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	background: #34495e;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: 600;
	color: #454445;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #3b81af;
}

a:hover
{
	text-decoration: none;
}

.container #logo
{
	margin-left: 100px;
	width: 1200px;
}


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
	margin-bottom: 3em;
}

.title h2
{
	font-weight: 400;
	font-size: 2.8em;
	color: #323232;
}

.title .byline
{
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1.1em;
	color: #6F6F6F;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
#header-wrapper
{
	background: #FFF;
}

#header
{
	position: relative;
	height: 100px;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	position: absolute;
	top: 2em;
	left: 0;
	width: 100%;
}

#logo h1
{
	display: inline-block;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 700;
	color: #2C383B;
	padding-right: 0.50em;
	border-right: 1px solid rgba(0,0,0,.3);
}

#logo span
{
	position: absolute;
	top: 1.4em;
	display: inline-block;
	padding-left: 1.50em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 0.90em;
}

#logo a
{
	text-decoration: none;
	color: #2C383B;
}

#icon img
{
	margin-top: 22px;
	margin-left: 10px;
}

p, h2 
{
	font-family: 'Roboto', sans-serif;
	margin: 15px;
}

p{
	color:#ffffff;
}

h2{
	margin-left: 53%;
	margin-top: 250px;
	transform: translate(-50%, -50%);
	color:#e74c3c;
}
