@import "materialize.css";

h1{
  font-family: 'Abel', sans-serif;
}

ul {
  list-style-type: circle;
}

nav ul li {
  list-style-type: none;
}

footer{
  list-style-type: none;
}

ul.browser-default {
  list-style-type: initial;
}

.jumbotron-content{
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}

.jumbotron-social{
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  text-align: center;
  margin: 0px auto;
  letter-spacing: 20px;
}

.intro{
  font-size: 500%;
}

.description{
  text-align: center;
  max-width: 50%;
  margin: 0px auto;
}

#jumbotron{
  background-position: top;
  background-repeat: no-repeat;
  background-image: url("../img/jumbotron-background.jpg");
	background-position: center center;
	background-size: cover;
  width:100%;
  height: 667px;
}

.social-icon:hover{
  color: #000000;
  background-color: #000000;
}

.resume-text{
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  padding-left:3px;
  margin-bottom: 25px;
}

.section{
  padding-left: 10px;
}

.portrait{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
}

.resume-wrapper{
  overflow: hidden;
  position: relative;
  top: -50px;
}

.skills-table progress{
  line-height: 14px;
}

/*Color Looping Script*/
@keyframes color-loop {
  0% {
    background: #2CAB5B;
  }
  25% {
    background: #FABC03;
  }
  50% {
    background: #ED4B40;
  }
  75% {
    background: #4286F3;
  }
  100% {
    background: #2CAB5B;
  }
}
